---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv-devops-deployment
  labels:
    app: cv-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cv-devops
  template:
    metadata:
      labels:
        app: cv-devops
    spec:
      containers:
        - name: cv-devops
          image: wahidh007/cv-devops
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  name: cv-devops-service
spec:
  type: NodePort
  selector:
    app: cv-devops
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
